{% extends 'base.html.twig' %}

{% block title %}donations{% endblock %}

{% block body %}
<div class="card" align="center">
<h1>List Donations</h1>
<table border='2'>
<tr>
<th>title</th>
<th>description</th>
<th>date creation</th>
<th>date expiration</th>
<th>amount</th>
<th>buttons</th>
{% for d in donation %}
<tr>

<td>{{d.title}}</td>
<td>{{d.description}}</td>
<td>{{d.datecreation|date('d-m-Y')}}</td>
<td>{{d.dateexpiration|date('d-m-Y')}}</td>
<td>{{d.amount}}</td>
<td><form action="{{path('app_donation_update',{'id':d.id})}}">
    <button>update</button>
    </form></td>
    <td><form action="{{path('app_donation_delete',{'id':d.id})}}">
    <button>delete</button>
    </form></td>
</tr>

{% endfor %}
</table><div class="d-flex justify-content-between align-items-center mb-3">
    <a href="{{ path('app_donation_add') }}" class="btn btn-warning btn-lg">Create new</a>
    <a href="{{ path('app_donation_show') }}" class="btn btn-warning btn-lg">Show existing</a>
</div>


</div>
{% endblock %}
