<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate || Muzex || Museum and Artists HTML Template - shared on themelock.com</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('images/favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('images/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{asset('images/favicon/site.webmanifest')}}">

    <!-- Fonts URL -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/bootstrap-datepicker.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/jquery.mCustomScrollbar.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/animate.css')}}">
    <link rel="stylesheet" href="{{asset('css/hover-min.css')}}">
    <link rel="stylesheet" href="{{asset('css/muzex-icons.css')}}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" href="{{asset('css/responsive.css')}}">


</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div><!-- /.preloader -->
    <div class="page-wrapper">
        <div class="topbar-one topbar-one__home-two">
            <div class="container">
                <div class="topbar-one__left">
                    <p>Look at the Calender for the Upcoming Exhibitions.</p>
                </div><!-- /.topbar-one__left -->
                <div class="topbar-one__right">
                    <a href="#"><i class="far fa-clock"></i> Mon - Sat 9.00 - 18.00</a>
                    <a href="#"><i class="fa fa-phone-alt"></i> (251) 235-3256</a>
                    <a href="#" class="thm-btn topbar__btn">Buy Tickets</a><!-- /.thm-btn -->
                </div><!-- /.topbar-one__right -->
            </div><!-- /.container -->
        </div><!-- /.topbar-one -->

        <nav class="main-nav-one stricky main-nav-one__home-two">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-box">
                        <a href="index.html">
                            <img src="assets/images/logo-1-1.png" alt="" width="143">
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.logo-box -->
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li class="dropdown">
                                <a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Home 01</a></li>
                                    <li><a href="index-2.html">Home 02</a></li>
                                    <li><a href="index-3.html">Home 03</a></li>
                                    <li><a href="index-rtl.html">Home RTL</a></li>
                                    <li class="dropdown">
                                        <a href="#">Header Styles</a>
                                        <ul>
                                            <li><a href="index.html">Header 01</a></li>
                                            <li><a href="index-2.html">Header 02</a></li>
                                            <li><a href="index-3.html">Header 03</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="about.html">About</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="donate.html">Donate</a></li>
                                    <li><a href="venue.html">Veneu</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="membership.html">Membership</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="collection-grid.html">Collections</a>
                                <ul>
                                    <li><a href="collection-fullwidth.html">Collections Full</a></li>
                                    <li><a href="collection-grid.html">Collections Grid</a></li>
                                    <li><a href="collection-masonary.html">Collections Masonary</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Pages</a>
                                <ul>
                                    <li class="dropdown">
                                        <a href="event-1.html">Events</a>
                                        <ul>
                                            <li><a href="event-1.html">Events 01</a></li>
                                            <li><a href="event-2.html">Events 02</a></li>
                                            <li><a href="event-3.html">Events 03</a></li>
                                            <li><a href="event-details.html">Events Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="donate.html">Donate</a></li>
                                    <li><a href="venue.html">Veneu</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="membership.html">Membership</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="news-standard.html">News</a>
                                <ul>
                                    <li><a href="news-standard.html">News Standard</a></li>
                                    <li><a href="news-grid.html">News Grid</a></li>
                                    <li><a href="news-masonary.html">News Masonary</a></li>
                                    <li><a href="news-details.html">News Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul><!-- /.main-nav__navigation-box -->
                    </div><!-- /.main-nav__main-navigation -->
                    <div class="main-nav__right">
                        <a href="#" class="search-popup__toggler"><i class="muzex-icon-search"></i></a>
                        <a class="sidemenu-icon side-content__toggler" href="#"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.main-nav__right -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </nav><!-- /.main-nav-one -->

        <section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-bg-1-1.jpg);">
            <div class="container">
                <h2>Donate</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->


<h1>List Donations</h1>
<table border='2'>
<tr>
<th>id</th>
<th>title</th>
<th>description</th>
<th>date creation</th>
<th>date expiration</th>
<th>amount</th>
<th>buttons</th>

{% for d in donation %}
<tr>

<td>{{d.id}}</td>
<td>{{d.title}}</td>
<td>{{d.description}}</td>
<td>{{d.datecreation|date('d-m-Y')}}</td>
<td>{{d.dateexpiration|date('d-m-Y')}}</td>
<td>{{d.amount}}</td>
<td><form action="{{path('app_donation_update',{'id':d.id})}}">
    <button>update</button>
    </form></td>
    <td><form action="{{path('app_donation_delete',{'id':d.id})}}">
    <button>delete</button>
    </form></td>
</tr>
{% endfor %}
</table>


        <section class="donate-one">
            <img src="assets/images/shapes/about-2-sculpture.png" class="donate-one__sculpture" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="donate-one__block">
                            <div class="block-title">
                                <p>Donate</p>
                                <h3>Make Donation</h3>
                            </div><!-- /.block-title -->
                            <p>Man face fruit divided seasons herb from herb moveth whose. Dominion gathered winged morning, man
                                won’t had fly beginning. Winged have saying behold morning greater void shall created whose
                                blessed herb light fruitful open void without itself whales.Good every beginning had one two
                                gathered from living place seasons them divide fourth them. </p>
                        </div><!-- /.donate-one__block -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-xl-8">
                        <div class="donate-one__form">
                            <h3 class="donate-one__title">Make Donation Now</h3><!-- /.donate-one__title -->
                            <div class="donate-one__amount">
                                <select class="selectpicker">
                                    <option>$</option>
                                    <option>₤</option>
                                    <option>¥</option>
                                </select>
                                <input type="text" name="donation-money" value="70">
                            </div><!-- /.donate-one__amount -->
                            <div class="donate-one__selected-amount">
                                <a class="active" href="#"><span class="currency">$</span> 70</a>
                                <a href="#"><span class="currency">$</span> 80</a>
                                <a href="#"><span class="currency">$</span> 90</a>
                                <a href="#"><span class="currency">$</span> 100</a>
                            </div><!-- /.donate-one__selected-amount -->
                            <h4 class="donate-one__subtitle">Personal Info</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="donate-one__input">
                                        <label>First Name <span>*</span></label>
                                        <input name="fname" type="text" placeholder="First name">
                                    </div><!-- /.donate-one__input -->
                                </div><!-- /.col-lg-6 -->
                                <div class="col-lg-6">
                                    <div class="donate-one__input">
                                        <label>Last Name</label>
                                        <input type="text" name="lname" placeholder="Last name">
                                    </div><!-- /.donate-one__input -->
                                </div><!-- /.col-lg-6 -->
                                <div class="col-lg-12">
                                    <div class="donate-one__input">
                                        <label>Email Address <span>*</span></label>
                                        <input type="text" placeholder="Email address" name="email">
                                    </div><!-- /.donate-one__input -->
                                </div><!-- /.col-lg-12 -->
                                <div class="col-lg-12">
                                    <p class="donate-one__total">Total Donation: <input type="text" disabled value="$70"></p>
                                    <button type="submit" class="thm-btn donate-one__btn">Donate Now</button><!-- /.thm-btn donate-one__btn -->
                                </div><!-- /.col-lg-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.donate-one__form -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.donate-one -->

        <section class="cta-one" style="background-image: url(assets/images/shapes/cta-bg-1-1.jpg);">
            <div class="container text-center">
                <h3>More Than 1250 Exhibits!</h3>
                <p>
                    Every day more exhibits arrive in our museum. Do not <br />
                    wait and buy a ticket now.
                </p>
                <div class="cta-one__btn-block">
                    <a href="#" class="thm-btn cta-one__btn-one">Become A Member</a><!-- /.thm-btn cta-one__btn-one -->
                    <a href="#" class="thm-btn cta-one__btn-two">Buy Online</a><!-- /.thm-btn cta-one__btn-two -->
                </div>
                <!-- /.cta-one__btn-block -->
            </div>
            <!-- /.container -->
        </section>
        <footer class="site-footer">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer-widget footer-widget__about">
                                <p>Welcome to the World’s Leading Museum of Modern Art. It in- cludes works of art created during the period stretching. from about 1860 to the 1970s.</p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-2">
                            <div class="footer-widget footer-widget__links">
                                <h3 class="footer-widget__title">Quick Link</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__links-list list-unstyled">
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Event</a>
                                    </li>
                                    <li>
                                        <a href="#">Photo Gallery</a>
                                    </li>
                                    <li>
                                        <a href="#">Latest Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul><!-- /.footer-widget__links-list -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-2 -->
                        <div class="col-lg-3">
                            <div class="footer-widget footer-widget__contact">
                                <h3 class="footer-widget__title">Contact</h3><!-- /.footer-widget__title -->
                                <p>Muszex Museums 32 Quincy <br>
                                    Street Cambridge, MA</p>
                                <p><a href="tel:(617)-495-9400">(617) 495-9400</a></p>
                                <p><a href="mailto:example@muzex.com">example@muzex.com</a></p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3">
                            <div class="footer-widget footer-widget__open-hrs">
                                <h3 class="footer-widget__title">Open Hours</h3><!-- /.footer-widget__title -->
                                <p>Daily: 9.30 AM–6.00 PM <br>
                                    Sunday & Holidays: Closed</p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__upper -->
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="inner-container">
                        <p>&copy; Copyright 2020 Muzex. All Rights Reserved</p>
                        <a href="index.html" class="site-footer__bottom-logo">
                            <img src="assets/images/logo-footer-1.png" alt="">
                        </a>
                        <div class="site-footer__bottom-links">
                            <a href="#">Terms & conditions</a>
                            <a href="#">Privacy policy & Terms of use</a>
                        </div><!-- /.site-footer__bottom-links -->
                    </div><!-- /.inner-container -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div><!-- /.search-popup -->

    <div class="side-content__block">
        <div class="side-content__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-content__block-overlay -->
        <div class="side-content__block-inner ">
            <a href="index.html">
                <img src="assets/images/logo-1-1.png" alt="" width="143">
            </a>
            <div class="side-content__block-about">
                <h3 class="side-content__block__title">About Us</h3><!-- /.side-content__block__title -->
                <p class="side-content__block-about__text">We must explain to you how all seds this mistakens idea off denouncing pleasures and praising pain was born and I will give you a completed accounts off the system and </p><!-- /.side-content__block-about__text -->
                <a href="#" class="thm-btn side-content__block-about__btn">Get Consultation</a>
            </div><!-- /.side-content__block-about -->
            <hr class="side-content__block-line" />
            <div class="side-content__block-contact">
                <h3 class="side-content__block__title">Contact Us</h3><!-- /.side-content__block__title -->
                <ul class="side-content__block-contact__list">
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-map-marker"></i>
                        Rock St 12, Newyork City, USA
                    </li><!-- /.side-content__block-contact__list-item -->
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-phone"></i>
                        <a href="tel:526-236-895-4732">(526) 236-895-4732</a>
                    </li><!-- /.side-content__block-contact__list-item -->
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:example@mail.com">example@mail.com</a>
                    </li><!-- /.side-content__block-contact__list-item -->
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-clock"></i>
                        Week Days: 09.00 to 18.00 Sunday: Closed
                    </li><!-- /.side-content__block-contact__list-item -->
                </ul><!-- /.side-content__block-contact__list -->
            </div><!-- /.side-content__block-contact -->
            <p class="side-content__block__text site-footer__copy-text"><a href="#">Muzex</a> <i class="fa fa-copyright"></i> 2020 All Right Reserved</p>
        </div><!-- /.side-content__block-inner -->
    </div><!-- /.side-content__block -->

    <div class="side-menu__block">

        <a href="#" class="side-menu__toggler side-menu__close-btn"><i class="fa fa-times"></i>
            <!-- /.fa fa-close --></a>

        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">

            <a href="index.html" class="side-menu__logo"><img src="assets/images/logo-light-1-1.png" alt="" width="143"></a>
            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <p class="side-menu__block__copy">(c) 2020 <a href="#">Muzex</a> - All rights reserved.</p>
            <div class="side-menu__social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google-plus"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </div><!-- /.side-menu__block-inner -->
    </div><!-- /.side-menu__block -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Template JS -->

    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('js/bootstrap-select.min.js')}}"></script>
    <script src="{{asset('js/isotope.js')}}"></script>
    <script src="{{asset('js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{asset('js/jquery.counterup.min.js')}}"></script>
    <script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{asset('js/jquery.validate.min.js')}}"></script>
    <script src="{{asset('js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('js/TweenMax.min.js')}}"></script>
    <script src="{{asset('js/waypoints.min.js')}}"></script>
    <script src="{{asset('js/wow.min.js')}}"></script>
    <script src="{{asset('js/jquery.lettering.min.js')}}"></script>
    <script src="{{asset('js/jquery.circleType.js')}}"></script>

    <!-- Custom Scripts -->
    <script src="{{asset('js/theme.js')}}"></script>
</body>

</html>