{% extends 'base.html.twig' %}

{% block body %}
 <section class="page-header" style="background-image: url({{asset('images/backgrounds/page-header-bg-1-1.jpg')}});">
            <div class="container">
                <h2> Donations</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->
  
    </form>
    <div class="row p-5">
        {% for d in donation %}
            {% if  app.user != d.Owner %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ d.title }}</h5>
                        
                        <p class="card-text">Description : {{ d.description }}</p>
                          <p class="card-text">Amount : {{ d.amount }} DT</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Begins : {{ d.dateCreation|ago }}</small>
                            {% if not d.amount == 0 %}
                             <a href="{{ path('app_donater_conntroller_new',{'id':d.id})}}" class="thm-btn contact-one__btn">Donate</a>
                               {% endif %}
                            <small class="text-muted">Ends : {{ d.dateExpiration|ago }}</small>
                        </div>
                    </div>
                </div>
            </div>
              {% endif %}
        {% endfor %}
</div>
    {% if is_granted('ROLE_ARTISTE') %}
    <div class="d-flex justify-content-center align-items-center mb-3">
            <a href="{{ path('app_donation_add') }}" class="thm-btn contact-one__btn">Create new</a>
        </div>
    </div>
        {% endif %}
      
{% endblock %}
