{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
             <tr>
                <th>Number of places</th>
                <td>{{ event.nb_placeMax }}</td>
            </tr>
             <tr>
                <th>Date begin</th>
                <td>{{ event.date_beg }}</td>
            </tr>
             <tr>
                <th>Date end</th>
                <td>{{ event.date_end }}</td>
            </tr>
            
            <tr>
                <th>Url</th>
                <td>{{ event.url }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ event.categorie.nomCategorie }}</td>
            </tr>
             
        </tbody>
    </table>

    <a href="{{ path('app_event') }}">back to list</a>

    <a href="{{ path('app_updateEvent', {'id': event.id}) }}">edit</a>

    {{ include('event/deleteEvent.html.twig') }}
{% endblock %}
