{% extends 'back.html.twig' %}

{% block title %}My Chart Example {% endblock %}


{% block body %}
<div class="container" >
    <div class="row">
        <h1>my charts</h1>
    </div>

    <div class="row">
        <div class="col-1" style="writing-mode: vertical-lr;
			text-orientation: mixed;
			white-space: nowrap;" align="center">
            Donations comulés
        </div>
        <div class="col-3">

            <div>
                <canvas id="myChart2" width="10000px" height="800px"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const chartData = {};

                {% for k in donation %}
                if (!chartData["{{ k.title }}"]) {
                    chartData["{{ k.title }}"] = {{ k.amount }};
                } else {
                    chartData["{{ k.title }}"] += {{ k.amount }};
                }
                {% endfor %}

                const ctx = document.getElementById('myChart2');

                new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: Object.keys(chartData),
                        datasets: [{
                            label: 'amount',
                            data: Object.values(chartData),
                            backgroundColor: [
                                '#FF6384',
                                '#36A2EB',
                                '#FFCE56',
                                '#8BC34A',
                                '#9C27B0',
                                '#FF9800',
                                '#607D8B',
                                '#795548',
                                '#E91E63',
                                '#00BCD4',
                            ]
                        }]
                    }
                });
            </script></div>
        <div class="col-1" style="writing-mode: vertical-lr;
			text-orientation: mixed;
			white-space: nowrap;" align="center">

        </div><div class="col-3">


            <div>
                <canvas id="myChart3"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const chartData1 = {};

                {% for k in donation %}
                if (!chartData1["{{ k.title }}"]) {
                    chartData1["{{ k.title }}"] = {{ k.amount }};
                } else {
                    chartData1["{{ k.title }}"] += {{ k.amount }};
                }
                {% endfor %}

                const ctx3 = document.getElementById('myChart3');

                new Chart(ctx3, {
                    type: 'bar',
                    data: {
                        labels: Object.keys(chartData1),
                        datasets: [{

                            label: 'amount',
                            data: Object.values(chartData1)
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            r: {
                                pointLabels: {
                                    display: true,
                                    centerPointLabels: true,
                                    font: {
                                        size: 13
                                    }
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                position: 'top',
                            }
                        }
                    },
                });
            </script>

        </div><div class="col-1" style="writing-mode: vertical-lr;
			text-orientation: mixed;
			white-space: nowrap;" align="center">
            revenue  par mois
        </div>
        <div>
            {{ render_chart(chart) }}
<h1>My charts</h1>
        </div>
        </div>
</div>
{% endblock %}
