{% extends 'base.html.twig' %}

{% block body %}
    {#<h1>Search For A Blog </h1>#}
    <section class="page-header" style="background-image: url({{asset('images/backgrounds/page-header-bg-1-1.jpg')}});">
            <div class="container">
                <h2>Search results </h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="event-details">
            <div class="container">
                <div class="event-details__top">
                

        {{ form(searchBlogByTitle) }}


    {% if blog|length > 0 %}
        <h2>Search results :</h2>
                {% for b in blog %}
                    <h3><a href="{{ path('app_detail_blog', {'id': b.id}) }}">{{b.title}}</a></h3>
                    <p> {{b.author.name}}  </p>
                </div><!-- /.event-details__top -->
                <div class="row high-gutter">
                    <div class="col-lg-8">
                        <div class="event-details__main">
                            <div class="event-details__image">
                                <img src="http://localhost/img/{{b.image}}" alt="" width="500" height="400">
                            </div><!-- /.event-details__image -->
                            <div class="event-details__content">
                           <p> {{b.description}} </p>

                {% endfor %}
            </tbody>
        </table>
    {% elseif blog|length == 0 %}
        <p>Sorry, No blog that matches your research has been found</p>
    {% endif %}

        
{% endblock %}