{% extends 'base.html.twig' %}

{% block body %}
    {#<h1>Search For A Complaint </h1>#}
    <section class="page-header" style="background-image: url({{asset('images/backgrounds/page-header-bg-1-1.jpg')}});">
            <div class="container">
                <h2>Search results </h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="event-details">
            <div class="container">
                <div class="event-details__top">

        {{ form(searchReclamationBytitle) }}


    {% if Reclamations|length > 0 %}
        <h2>Search results :</h2>
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date de création</th>
                    <th>État</th>
                    <th>Propriétaire</th>
                    <th>Date de traitement</th>
                    <th>Note</th>
                    <th>TypeReclamation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for reclamation in Reclamations %}
                    <tr>
                        <td>{{ reclamation.title }}</td>
                        <td>{{ reclamation.description }}</td>
                        <td>{{ reclamation.dateCreation|date('d/m/Y') }}</td>
                        <td>{{ reclamation.etat }}</td>
                        <td>{{ reclamation.ownerID.firstname }}</td>
                        <td>{{ reclamation.dateTreatment|default('-')|date('d/m/Y') }}</td>
                        <td>{{ reclamation.note|default('-') }}</td>
                        <td>{{ reclamation.TypeReclamation}}</td>
                                        
                        <td>
                            {% if reclamation.etat == "on hold" %}
                                <a href="{{ path('app_deleteR', {'id': reclamation.id}) }}"class="thm-btn contact-one__btn">Delete</a>
                            {% endif %}
                            <a href="{{ path('app_updateR', {'id': reclamation.id}) }}"class="thm-btn contact-one__btn">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elseif Reclamations|length == 0 %}
        <p>Désolé aucune réclamation trouvée pour cette recherche.</p>
    {% endif %}
    <section class="cta-one" style="background-image: url({{asset('images/shapes/cta-bg-1-1.jpg')}});">
            <div class="container text-center">
                <h3>Nous sommes à votre disposition</h3>
                <p>N'hésitez pas à contacter de nouveau si nécessaire <br> merci pour votre engagement.</p>
                <div class="cta-one__btn-block">

                    <a href="{{ path('app_addR') }}" class="thm-btn cta-one__btn-one">Create new</a><!-- /.thm-btn cta-one__btn-one -->
                    <a href="{{ path('reclamation_user') }}" class="thm-btn cta-one__btn-two">back to list</a><!-- /.thm-btn cta-one__btn-two -->

                </div><!-- /.cta-one__btn-block -->
            </div><!-- /.container -->
        </section><!-- /.cta-one -->
{% endblock %}
