{% extends 'base-back.html.twig' %}
{% block nav %}
<div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="{{ path('app_readR', {'etat': 'on_hold'}) }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Gestion reclamations</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{ path('app_addTypeR')}}" class="dropdown-item">Add new type</a>
                            <a href="{{ path('app_readTypeR')}}" class="dropdown-item">List of types</a>
                            <a href="{{ path('app_addR')}}" class="dropdown-item">Add new complaint</a>
                            <a href="{{ path('genererPdf')}}" class="dropdown-item">Generate pdf</a>
                            <a href="{{ path('genererstats')}}" class="dropdown-item">Statistics</a>

                        </div>
                    </div>
                   
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
            {% endblock %}

{% block body %}
<h4 class="card-title" style="text-align: center">Statistiques </h4>
                 <div class="app-content" style="text-align: center;margin-left: 10%;">
                        <div class="side-app">
                            <div id="div_chart"></div>
                            <div id="div_line_chart"></div>


                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js
"></script>
                            <script type="text/javascript">
                                {{ gc_draw(piechart, 'div_chart') }}
                                 {{ gc_draw(linechart, 'div_line_chart') }}
                            </script>
                        </div>
                    </div>
                    <!-- endstat -->
                </div>

            </div>

        </div>
    </div>
        </section>

    </div>
{% endblock %}