{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category name</th>
                
            </tr>
        </thead>
        <tbody>
        {% for c in categories %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nomCategorieEvent }}</td>
                
                <td>
                    <a href="{{ path('app_readCategorie', {'id': c.id}) }}">show</a>
                    <a href="{{ path('app_updateCategorie', {'id': c.id}) }}">edit</a>
                    <a href="{{ path('app_deleteCategrie', {'id': c.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_addCategorie') }}">Create new</a>
{% endblock %}