{% extends 'base.html.twig' %}

{% block title %}Artwork index{% endblock %}

{% block ArtWork %}
    <h1>Artwork index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artwork in artworks %}
            <tr>
                <td>{{ artwork.id }}</td>
                <td>{{ artwork.title }}</td>
                <td>{{ artwork.description }}</td>
                <td>{{ artwork.categorie  }}</td>
                <td>{{ artwork.url }}</td>
                <td>
                    <a href="{{ path('app_artwork_show', {'id': artwork.id}) }}">show</a>
                    <a href="{{ path('app_artwork_edit', {'id': artwork.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artwork_new') }}">Create new</a>
{% endblock %}
