{% extends 'base.html.twig' %}

{% block body %}


        <section class="page-header" style="background-image: url({{asset('images/backgrounds/page-header-bg-1-1.jpg')}});">
            <div class="container">
                <h2>Gallery</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="collection-grid collection-masonary">
            <div class="container">
                <div class="collection-grid__top">
                    <div class="block-title text-left">
                        <p>Gallery  </p>
                        <h3>Explore <br> the Collection</h3>
                    </div>
                  
                    <ul class="collection-filter post-filter list-unstyled">
                    <li data-filter=".filter-item" class="active"><span>All Section</span></li>
                    {% for categorie in categories  %}
                    <li data-filter=".{{categorie.NomCategorie}}"><span>{{categorie.NomCategorie}}</span></li>
        {% endfor %}
       
                     </ul><!-- /.collection-filter list-unstyled -->
                    {% if app.user and 'ROLE_ARTISTE' in app.user.roles %}
   <a href="{{path('app_artwork_new')}}" style="color:#848484;"> <p style="margin:0px 0px 20px -150px;">Add Artwork + </p> </a>
{% else %}
   
{% endif %}
                      
                      
               <!-- /.block-title -->
                       </div><!-- /.collection-grid__top --> <div class="row high-gutter filter-layout masonary-layout">
{% for artwork in pagination %}  
               
                    <div class="col-lg-4 col-md-6 filter-item masonary-item {{artwork.categorie}}">
                        <div class="collection-grid__single">
                            <div class="collection-grid__image">
                                <img src="http://localhost/img/{{artwork.url}}"  width="363" height="363"alt="">
                          
                            </div><!-- /.collection-grid__image -->
                            <div class="collection-grid__content">
                                <h3><a href="{{ path('app_artwork_show', {'id': artwork.id}) }}">{{artwork.title}}</a></h3>
                                <p>{{artwork.owner.FirstName}} {{artwork.owner.LastName}}</p>
                            </div><!-- /.collection-grid__content -->
                        </div><!-- /.collection-grid__single -->
                          
                    </div><!-- /.col-lg-4 -->
                   {% else %} 
                         <p>no records found</p>
            
        {% endfor %}
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="d-flex align-items-center justify-content-center" style="height: 250px;">   {{ knp_pagination_render(pagination) }}</div>
      
        </section><!-- /.collection-grid -->

            
          
      
{% endblock %}
