{% extends 'base.html.twig' %}
{% block body %}
 <section class="page-header" style="background-image: url({{asset('images/backgrounds/page-header-bg-1-1.jpg')}});">
            <div class="container">
                <h2>Event Details</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="event-details">
            <div class="container">
                <div class="event-details__top">
                
                    <h3>{{ artwork.title }}</h3>
                </div><!-- /.event-details__top -->
                <div class="row high-gutter">
                    <div class="col-lg-8">
                        <div class="event-details__main">
                            <div class="event-details__image">
                                <img src="http://localhost/img/{{artwork.url}}" alt="" width="760" height="565">
                            </div><!-- /.event-details__image -->
                            <div class="event-details__content">
                       
                           <p> {{artwork.description}} </p>
                 
                          

                             
                                <ul class="event-details__contact list-unstyled">
                                    <li>
                                        <span>Owner:</span>
                                        {{artwork.owner.firstName}}  {{artwork.owner.lastName}}
                                    </li>
                                    <li>
                                        <span>Email:</span>
                                        {{artwork.owner.email}}
                                    </li>
                                    <li>
                                        <span>Phone:</span>
                                      {{artwork.owner.phoneNumber}}
                                    </li>
                                
                 <div style="display: flex; flex-direction: row; justify-content: space-between; align-items:center;">    
                 {{ include('artwork/_delete_form.html.twig') }}
</li>
<li> 
<form method="post" action="{{ path('app_artwork_edit', {'id': artwork.id}) }}">
    <button class="thm-btn contact-one__btn">Update</button>
</form>  </div>
</li>
                                </ul><!-- /.event-details__contact -->
                            </div><!-- /.event-details__content -->
                        </div><!-- /.event-details__main -->
          
                    </div><!-- /.col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="event-details__booking">
                            <ul class="event-details__booking-info list-unstyled">
                                <li>
                                    <span>Type:</span>
                                    {{artwork.categorie.NomCategorie}}
                                </li>
                    
                                <li>
                                    <span>Owner:</span>
                                  {{artwork.owner.FirstName}}      {{artwork.owner.LastName}}
                                </li>
                                <li>       
    {{ form_start(note,{'attr': {'novalidate': 'novalidate' } }) }}
  {{ form_widget(note.note, { 'attr': { 'class': 'rating', 'data-size': 'sm','data-stars': 5,'value': notes,'step': 1} }) }}
   {{ form_widget(note.submit, { 'attr': { 'class': 'thm-btn contact-one__btn mt-2'} }) }}
        {{ form_end(note) }}</li>
      
                            </ul><!-- /.event-details__booking-info list-unstyled -->
                 
                            <!-- /.thm-btn event-details__book-btn -->
                        </div><!-- /.event-details__booking -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
             
        </section><!-- /.event-details -->
  
<div class="container mt-5 mb-5">

            <div class="row  d-flex justify-content-center">

                <div class="col-md-8">

                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h5> Comments({{comments|length}})</h5>      
                    </div>
{% for comment in comments %}  
                    <div class="card p-3 mt-2">

                        <div class="d-flex justify-content-between align-items-center">

                      <div class="user d-flex flex-row align-items-center">

                        <img src="http://localhost/img/{{comment.user.image}}"  width="30" height="30" class="user-img rounded-circle mr-2">
                        <span><small class="font-weight-bold text-primary">{{comment.user.FirstName}} {{comment.user.LastName}}</small> </span>
                          
                      </div>


                      <small>{{ comment.timestamp|ago }}</small>

                      </div>


                      <div class=" action d-flex justify-content-between mt-2 align-items-center">
            <div class="col-12">
             {{comment.comment}}
</div>
                        <div class="icons align-items-center">
                           
                            <a href="/artwork/{{comment.id}}/comment/delete" class="fa fa-check-circle-o check-icon text-danger">x</a>
                            
                        </div>
                    
                      </div>
                    </div>
                             {% else %} 
                         <p>No Comments</p>
            
        {% endfor %}
       
    {{ form_start(form,{'attr': {'novalidate': 'novalidate' , 'name': 'comment_form'} }) }}
        {{ form_widget(form.comment ,{'attr': {'class': 'form-control  mt-2 p-3'}}) }}
        {{ form_errors (form.comment) }} 
        <button class="thm-btn contact-one__btn mt-2" >Submit</button>
        {{ form_end(form) }}

      
                </div>
                      
            </div>
        </div>
        <section class="cta-one" style="background-image: url({{asset('images/shapes/cta-bg-1-1.jpg')}});">
            <div class="container text-center">
                <h3>More Than 1250 Exhibits!</h3>
                <p>Every day more exhibits arrive in our museum. Do not <br> wait and buy a ticket now.</p>
                <div class="cta-one__btn-block">
                    <a href="#" class="thm-btn cta-one__btn-one">Become A Member</a><!-- /.thm-btn cta-one__btn-one -->
                    <a href="#" class="thm-btn cta-one__btn-two">Buy Online</a><!-- /.thm-btn cta-one__btn-two -->
                </div><!-- /.cta-one__btn-block -->
            </div><!-- /.container -->
        </section><!-- /.cta-one -->
       
    
{% endblock %}
 