{% extends 'dashboard-base.html.twig' %}
{% block nav %}
<div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{ path('app_addTypeR')}}" class="dropdown-item">Add new type</a>
                            <a href="{{ path('app_readTypeR')}}" class="dropdown-item">List of types</a>
                            <a href="{{ path('app_addR')}}" class="dropdown-item">Add new complaint</a>
                            <a href="{{ path('genererPdf')}}" class="dropdown-item">Generate pdf</a>
                            <a href="{{ path('genererstats')}}" class="dropdown-item">Statistics</a>
                        </div>
                    </div>
                   
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
            {% endblock %}
{% block body %}
{% block title %}<h1>Add Complaint Type</h1>{% endblock %}
{{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}
 <div class="container-fluid pt-4 px-4">
                        <div class="bg-secondary rounded h-100 p-4"> 
                            <div class="form-floating mb-3">
                                                       

                                     {{ form_widget(form.typereclamation ,{'attr': {'class': 'form-control' , 'id':'floatingInput'}, 'label':null}) }}
                                <label for="floatingInput">Type Reclamation</label>
                                   <p>  {{ form_errors (form.typereclamation) }} </p>   
                            </div>
                                           {{ form_widget(form.save ,{'attr': {'class': 'btn btn-sm btn-primary' }, 'label':null}) }}
                        </div>
                    </div>
   
  
    
{{ form_end(form) }}

{% endblock %}