{% extends 'base-back.html.twig' %}
{% block nav %}
<div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="{{ path('app_readR', {'etat': 'on_hold'}) }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Gestion reclamations</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{ path('app_addTypeR')}}" class="dropdown-item">Add new type</a>
                            <a href="{{ path('app_readTypeR')}}" class="dropdown-item">List of types</a>
                            <a href="{{ path('app_addR')}}" class="dropdown-item">Add new complaint</a>
                            <a href="{{ path('genererPdf')}}" class="dropdown-item">Generate pdf</a>
                            <a href="{{ path('genererstats')}}" class="dropdown-item">Statistics</a>
                        </div>
                    </div>
                   
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
            {% endblock %}
{% block title %}Confirmation de suppression{% endblock %}

{% block body %}
    <h1>Confirmation de suppression</h1>
    <p>{{ alertMessage }}</p>

    {{ form_start(alertForm) }}
        {{ form_widget(alertForm.confirm, {'label': 'Confirmer la suppression', 'attr': {'class': 'btn btn-danger'}}) }}
    {{ form_end(alertForm) }}

    <a href="{{ path('app_readTypeR') }}" class="btn btn-secondary">Annuler</a>
{% endblock %}

