{% extends 'base.html.twig' %}


{% block title %}Blog{% endblock %}
{% block body %}
{# <section class="page-header" style="background-image: url({{asset('images/backgrounds/page-header-bg-1-1.jpg')}});"> #}
            <div class="container">
            </div><!-- /.container -->
        </section><!-- /.page-header -->


        <section class="blog-details">
            <div class="container">
                <div class="blog-details__top">
               {% if blogId is defined %}
    <a href="{{ path('app_read_blog', {'id': blogId}) }}">back</a>
{% endif %}


                  {# {% for b in blog  %} #}

                    
                    <h3>{{ blog.title }} <h4> by {{blog.author.firstName}}</h4> </h3>
                </div><!-- /.blog-details__top -->
                <div class="row high-gutter">
                    <div class="col-lg-8">
                        <div class="blog-details__main">

                        <div class="blog-details__description">
                             <p> {{blog.description}} </p>
                             </div> <!--/.blog-details__description -->

                            <div class="blog-details__image">
                                <img src="http://localhost/img/{{blog.image}}" alt="" width="500" height="400">
                            </div>  <!-- /.blog-details__image -->

                            <div class="blog-details_content">
                            <p>{{blog.content}}</p>
                            </div> <!--/.blog-details__content -->

                    
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-details -->

       {#<form action="{{ path('app_new_note_blog', {'id': blog.id}) }}" method="post">
    <label for="score">Note :</label>
    <input type="number" name="score" id="score" min="0" max="10" required>
    <button type="submit">Add</button>
</form>"#}

{% if app.user %}
        {{form_start(form)}}
        <section class="blog-rating">
        <div class="container">

        
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}
            <h3></h3>
            {# {% include 'note_blog/note.html.twig' with {
                'name': 'blog',
                'id': blog.id,
                'rating': rating,
                'route': 'app_detail_blog',
                'params': { 'blogId': blog.id }
            } %} #}
    

 {#{% if blog.note|length > 0 %}
    <div class="sidebar-widget">
        <h3>Notes</h3>
        <p>Note moyenne : {{ blog.countByNote()|number_format(1, '.', ',') }}/5</p>
    </div>
{% endif %}#}

        </div><!-- /.container -->
    </section><!-- /.blog-rating -->

    {{form_end(form)}}
    {% endif %}


       
       
     
{% endblock %}