{#{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<h1>La liste des blogs </h1>
<table>
    <tr>
        <th>TITLE</th>
        <th>DESCRIPTION</th>
        <th>IMAGE</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    {%for b in blog %}
    <tr>
        <td>{{b.title}}</td>
        <td>{{b.description}}</td>
        <td>{{b.image}}</td>

        {#{# <td>{{b.categorie.NomCategorie}}</td> #}
        {#<td><form action="{{path('app_delete_blog',{'id':b.id}) }}">
            <button>Delete</button></form></td>
        <td><form action="{{path('app_update_blog',{'id':b.id}) }}">
                <button>Update</button></form></td>
    </tr>
    {%endfor%}

</table>
{% endblock %}#}

{% extends 'base.html.twig' %}
{% block body %}
 <section class="page-header" style="background-image: url({{asset('images/backgrounds/page-header-bg-1-1.jpg')}});">
            <div class="container">
            {% if myblogs %}
                <h2>Your Blogs</h2>
                {% else %}
                <h2> Blogs</h2>
            {% endif %}
            </div><!-- /.container -->
        </section><!-- /.page-header -->
  <section class="collection-grid collection-masonary">
            <div class="container">
                <div class="collection-grid__top">
                    <div class="block-title text-left">
                        <p>Blogs  </p>
                        <h3>Explore <br> Our Blogs</h3>
                    </div>
                  
      
                      
                      
               <!-- /.block-title -->
                       </div><!-- /.collection-grid__top --> <div class="row high-gutter filter-layout masonary-layout">
{% for b in blog %}  
               
                    <div class="col-lg-4 col-md-6 filter-item masonary-item ">
                        <div class="collection-grid__single">
                            <div class="collection-grid__image">
                                <img src="http://localhost/img/{{b.image}}"  width="363" height="363"alt="">
                          
                            </div><!-- /.collection-grid__image -->
                            <div class="collection-grid__content">
                                <h3><a href="{{ path('app_detail_blog', {'id': b.id}) }}">{{b.title}}</a></h3>
                                <p>{{b.author.FirstName}} {{b.author.LastName}}</p>
                            </div><!-- /.collection-grid__content -->
                        </div><!-- /.collection-grid__single -->
                          
                    </div><!-- /.col-lg-4 -->
                   {% else %} 
                         <p>no records found</p>
            
        {% endfor %}
                </div><!-- /.row -->
            </div><!-- /.container -->
      
        </section><!-- /.collection-grid -->
        
      
{% endblock %}
