{% extends 'base.html.twig' %}


{% block title %}Category index{% endblock %}


{% block body %}
    <h1>Category index</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
               
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
               
                <td>
                    {# <a href="{{ path('app_readEvent', {'id': e.id}) }}">show</a> #}
                    <a href="{{ path('app_updateCategorie', {'id': categorie.id}) }}">edit</a>
                    <a href="{{ path('app_deleteCategrie', {'id': categorie.id}) }}">delete</a>
                 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_addCategorie') }}">Add new category</a>
{% endblock %}
