<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="{{ asset('assetshamra/img/favicon.ico') }}" rel="stylesheet" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{{ asset('assetshamra/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assetshamra/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="{{ asset('assetshamra/css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ asset('assetshamra/css/style.css') }}" rel="stylesheet" />

    <!-- Template Stylesheet -->
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
   {% block sidebar %} 
   <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="#" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Tun'ART</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                                     <img class="rounded-circle" src="http://localhost/img/{{app.user.image}}" alt="" style="width: 40px; height: 40px;">

                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">{{app.user.firstName}} {{app.user.lastName}}</h6>
                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="#" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a class="nav-item nav-link active" href="{{path('adminbacks')}}"   ><i class="fa fa-keyboard me-2"></i>
                        <span >User</span>
                    </a>
                    <!-- <a class="nav-item nav-link " href="{{path('adminbacks')}}"   ><i class="fa fa-keyboard me-2"></i>
                        <span >Charts</span>
                    </a> -->
                     <div class="nav-item dropdown">
                        <a href="{{ path('app_readR', {'etat': 'on_hold'}) }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Gestion reclamations</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{ path('app_addTypeR')}}" class="dropdown-item">Add new type</a>
                            <a href="{{ path('app_readTypeR')}}" class="dropdown-item">List of types</a>
                            <a href="{{ path('app_readR', {'etat': 'on_hold'}) }}" class="dropdown-item">List of complaints</a>
                            <a href="{{ path('genererPdf')}}" class="dropdown-item">Generate pdf</a>
                            <a href="{{ path('genererstats')}}" class="dropdown-item">Statistics</a>
                        </div>
                    </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Events</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="signin.html" class="dropdown-item"> Create Event</a>
                        <a href="signup.html" class="dropdown-item">Check Event Status</a>
                    </div>
                </div>       
                 <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Artwork</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{ path('dashboard_artwork_index') }}" class="dropdown-item">Show Artwork</a>
                            <a href="{{ path('app_categorie_index') }}" class="dropdown-item">Categorie management</a>
                        </div>
                    </div>         
                <a href="{{ path('admin_chart') }}" class="nav-item nav-link" ><i class="fa fa-chart-bar me-2"></i>Charts</a>

            </div>
        </nav>
    </div>
    {% endblock %}
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
        
            <div class="navbar-nav align-items-center ms-auto">
             
              
                <div class="nav-item dropdown ">
                
                    <li class="nav-item dropdown pe-3">

                        <a class="nav-item dropdown pe-3 " href="#" data-bs-toggle="dropdown">
                           

                            <span class="d-none d-md-block dropdown-toggle ps-2 mt-4">{{app.user.firstName}} {{app.user.lastName}}</span>
                        </a><!-- End Profile Iamge Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile mt-6">
                        
                         

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{{path('adminProfile')}}">
                                    <i class="bi bi-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{{path('app_logout')}}">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Sale & Revenue Start -->

        <!-- Recent S    {% block bodyAdmin %}{% endblock %}
ales End -->

        {% block body %}{% endblock %}
        <!-- Widgets Start -->

    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
{% block javascript %}

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{asset('assetshamra/lib/chart/chart.min.js')}}"></script>
<script src="{{asset('assetshamra/lib/easing/easing.min.js')}}"></script>
<script src="{{asset('assetshamra/lib/owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{asset('assetshamra/lib/tempusdominus/js/moment.min.js')}}"></script>
<script src="{{asset('assetshamra/lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
<script src="{{asset('assetshamra/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>
<script src="{{asset('assetshamra/js/main.js')}}"></script>

{% endblock %}

<!-- Template Javascript -->
</body>

</html>