<!doctype html>
<html class=no-js lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Tun'ART Website</title>
    <link rel="shortcut icon" href=favicon.ico>
 <link rel=stylesheet href="{{asset('assetsFront/vendor.css')}}">
    <link rel=stylesheet href="{{asset('assetsFront/style.css')}}">
    <link rel=stylesheet  href="{{asset('assetsFront/css/layerslider.css')}}">

    <script src="{{asset('assetsFront/js/vendor/modernizr.js')}}"></script>
</head>
<body><!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class=wrapper>
{% block body1 %}{% endblock %}
{% block headerUser %}{% endblock %}
{% block header %}

<script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
    <header class=header-main>
        <div class=header-upper>
            <div class=container>
          
                <div class="row">
                <ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY')  %} 

                 <li>                
                 {% if app.user.image == null   %}
                        <img src="{{asset('/uploads/images/user.jpg')}}" alt="Profile"  class="rounded-circle" style="width: 25px;padding-top:2px;">
                        {% else %}
                        <img src="http://localhost/img/{{app.user.image}}" alt="Profile"  class="rounded-circle" style="width: 25px;padding-top:6px;">
                       {% endif %}</li>
                        <li><a href="{{path('clientProfile')}}">{{app.user.firstName}} {{app.user.lastName}}</a></li>
                        
                        <li><a href="{{path('app_logout')}}"><i class="fa fa-sign-out"></i> 
                        <span>Logout</span></a>
                    </li>                 
                    {% else %}
                     <ul>

                        <li><a href="{{path('app_login')}}">Signup/login</a></li>
                        <li><a href=shopcart.html><i class="fa fa-shopping-cart"></i> <span>cart(<span  class=cartitems>0</span>)</span></a></li>
                    </ul>
                    {% endif %}
                </ul>
                   
                </div>
            </div>
        </div>
        <div class=header-lower clearfix>
            <div class=container>
                <div class=row><h1 class=logo><a href=index-2.html><img src="{{asset('assetsFront/images/logo.png')}}" alt="image" style="max-width: 100px; height: auto;">
</a></h1>

                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul class=nav navbar-nav menu-bar>
                                            <span></span> <span></span></a></li>
                                        <li><a href=about.html>about <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>Event <span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=gallerypage01.html>masonry</a></li>
                                                <li><a href=gallery02.html>gallery column two</a></li>
                                                <li><a href=gallery03.html>gallery column 03</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=blog.html>blog <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href=bookTicket.html>book Tickets <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                        <li><a href=shop.html>shop <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href=contact.html>contact <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        {# <li><a>error <span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=400.html>400 page</a></li>
                                                <li><a href=401.html>401 page</a></li>
                                                <li><a href=403.html>403 page</a></li>
                                                <li><a href=404.html>404 page</a></li>
                                                <li><a href=500.html>500 page</a></li>
                                                <li><a href=503.html>503 page</a></li>
                                            </ul>
                                        </li> #}
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social><a href=https://www.facebook.com/templatespoint.net class=facebook><i
                            class="fa fa-facebook"></i></a> <a href=https://twitter.com/itobuztech class=twitter><i
                            class="fa fa-twitter"></i></a> <a href=https://www.behance.net/ class=behance><i
                            class="fa fa-behance"></i></a></div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block login %}{% endblock %}
{% block bodyFront %}{% endblock %}
    {% block body %}

    {% endblock %}
    
    {% block footer %}
    <footer class=footer-type01>
        {% block footer2 %}

        {% endblock %}

    {% endblock %}
    
<script src="{{asset('js/vendor/vendor.js')}}"></script>
<script src="{{asset('js/main.js')}}"></script>
</body>

</html>